.reg {
    margin: 0 5px 5px 0;
    width: 210px;
    border: 1px dashed rgba(0, 89, 181, 0.82);
    padding: 5px;
    align-content: center;
}
.login, .password, .reg__btn {
    display: block;
    margin: 0 0 5px 0;
    padding: 5px;
    width: 94%;
    border: 1px solid rgba(0, 89, 181, 0.82);
}
.reg__btn {
    box-sizing: content-box;
    color: #FFF;
    text-transform: uppercase;
    background: #007DDC;
}

.none {
    display: none;
}

body {
    background: rgba(0, 102, 255, 0.38);
    font-family: sans-serif;
    text-align: center;

}

p {
    margin: 0 0 5px;
}

.link_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.article {
    background: #FFF;
    border: 1px solid rgba(0, 89, 181, 0.82);
    width: 600px;
    margin: 0 0 5px;
    box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
    padding: 3px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post__image {
    background: #FFF;
    border: 1px solid rgba(0, 89, 181, 0.82);
    width: 97%;
    margin: 0 0 5px;
    box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
    padding: 3px 5px;
    align-self: center;
}

.post__author, .post__theme {
    text-decoration: underline;
    color: #007DDC;
}

.r {
    color: rgb(255, 0, 0);
    text-align: center;
    text-decoration: unset;
    font-size: xx-large;
}
    